@model BookModel

<div class="card mb-4 shadow-sm">
        <img src="@(string.IsNullOrEmpty(Model.CoverPhotoUrl) ? "/Image/noimage.jpg" : Model.CoverPhotoUrl)" class="img-thumbnail" />
        <div class="card-body">
            <h3>@(string.IsNullOrEmpty(Model.Title) ? "Name is not available" : Model.Title)</h3>
            <p class="card-text">@(string.IsNullOrEmpty(Model.Description) ? "Description is not available" : Model.Description)</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a asp-route="bookdetailroute" asp-route-Id="@Model.Id"
                       class="btn btn-sm btn-outline-secondary">View details</a>
                </div>
                <small class="text-muted">@(string.IsNullOrEmpty(Model.Author) ? "N/A" : Model.Author)</small>
            </div>
        </div>
    </div>


@*<div class="card mb-4 shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
        </svg>
        <div class="card-body">
            <p class="card-text">This section will be used to diaplay short description of the book.</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                </div>
                <small class="text-muted">Author name</small>
            </div>
        </div>
    </div>*@
